* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.wrapper {
    width: 85%;
    max-width: 1080px;
    margin: 0 auto;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
}

body {
    font-family: 'roboto', sans-serif;
    font-weight: light;
}

body p {
    font-size: 14px;
    line-height: 1.6em;
}

.footer h5 {
    text-transform: uppercase;
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
}

.footer img {
    border-radius: 100px;
    max-width: 100px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
}


.hr-text {
    background-color: white;
   position: relative;
    padding: 5px 15px;
    color: black;
    top: -12px;
    left: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
}

.subheader {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
}

section {
    padding: 100px 0px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.footer {
    background:linear-gradient(0deg, rgba(22, 27, 51, 0.2), rgba(22, 27, 51, 0.2)), url("./assets/cabin-side.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

i.fa-quote-left {
    color: #cd8930;
    font-size: 60px;
}

.btn-solid {
    background-color: #cd8930;
    color: white;
    border: 1px solid #cd8930;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 10px;
    margin-top: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-outline {
    color: #cd8930;
    border: 1px solid #cd8930;
    background-color: transparent;
    padding: 15px 25px;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 250ms linear;
}

.btn-outline:hover {
    color: white;
    background-color: #cd8930;
}

#video {
    background-image: url(./assets/fire.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0px;
    color: white;
}

#hero {
    background:linear-gradient(0deg, rgba(22, 27, 51, 0.2), rgba(22, 27, 51, 0.2)), url("./assets/indoors.jpg");
    background-size: cover;
    background-position: center left;
    color: white; 
    padding: 250px 0px;
}

.slick-slide img {
    width: 100%!important;
    height: auto;
}

.slick-slide {
    padding: 30px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 4fr 2fr;

}

i.fa-play {
    color: black;
    font-size: 20px;
}

#img-section-1 .img-container {
    background-image: url(./assets/cabin.jpg);
    min-height: 350px;
    background-size: cover;
}

#img-section-2 .img-container {
    background-image: url(./assets/woods.jpg);
    min-height: 400px;
    background-size: cover;
}

p small {
    padding-top: 20px;
}

.icon-wrapper {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-size: 50px;
    line-height: 1.3em;
}

.footer ul {
    list-style-type: none;
}

.footer li {
    margin-bottom: 15px;
}

.grid-onethird-twothird {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 5%;
}

.mini-subheader, .footer a {
    text-transform: uppercase;
    font-family: "Abel";
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;

}

div#circle{
    position:absolute;
    transform:translate(-50%,-50%);
    height:75px;
    width:75px;
    border-radius:50%;
    background-color: black;
    color: white;
    font-size: 10px;
    font-family: "Roboto";
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.center .mini-subheader {
    margin-top: 0px;
}

.num {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: "Abel";
    line-height: 1.2em;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5%;
}

.grid-twothirds-onethird {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-gap: 5%;
}

.btn-link {
    text-transform: uppercase;
    font-family: "Abel";
    border-bottom: 2px solid black;
    font-size: 20px;
    padding-bottom: 5px; 
}

h4 {
    margin-top: 10px;
}

.footer a {
    color: white;
    margin-top: 20px;
    text-decoration: none!important;
    font-size: 14px;
}